/train.csv
/dev.csv
/test.csv
/raw.csv
/small_sample.csv
/doc2vec_model
/document_vectors.csv
/document_vectors.pkl
/clustering_results.pkl
/eval.json
/doc2vec_model.wv.vectors.npy
/doc2vec_model.docvecs.vectors_docs.npy
/doc2vec_model.trainables.vectors_docs_lockf.npy
/doc2vec_model.trainables.syn1neg.npy
